.ToggleButton{
    height:100%;
    box-sizing: border-box;
    padding:10px;
    cursor: pointer;
}
.ToggleButton div{
    background-color:#fff;
    width:25px;
    height:3px;
    margin:5px 10px;
}

@media(min-width:400px){
    .ToggleButton{
        display:none;
    }
}